html {
	font-size: 10 px;
	font-family: helvetica;
}
.container {
	max-width: 40rem;
	padding: 2rem 7rem;
}
.container--top {
	background-image: url("assets/header_bg.jpg");
	background-size: cover;
	text-align: center;
	padding: .5rem 6rem 12rem 6rem;
}
.container--top__title {
	font-size: 2rem;
	font-style: bold;
	text-align: left;
	color: white;
}
.container--top__byline {
	font-size: 1.5rem;
	color: white;
	padding: 2rem;
}
.button {
	padding: .5rem 2rem;
	font-style: bold;
}
.button--top {
	background-color: yellow;
	color: #191970;
}
.container--middle {
	background-color: #dfeaed;
	color: #8d989c;
}
.container--middle__title {
	color: #191970;
}
.container--middle__testimonial {
	background-image: url("assets/testimonial_bg.jpg");
	background-size: cover;
	text-align: center;
	font-style: italic;
	padding: 2rem;
}
.button__bottom {
	background-color: #191970;
	color: white;
}
.container--button {
	background-color: yellow;
	padding: 1rem;
}
.container--bottom {
	text-align: center;
	background-color: black;
}
.container--bottom__title {
	font-size: 1.5rem;
	color: yellow;
}
.navigation__link {
	color: white;
	padding: 1rem;
}
.container--bottom__copyright {
	font-size: .5rem;
	color: white;
	padding: 1rem;
}