html {
	font-size: 10 px;
	font-family: helvetica;
}
body {
	background-color: #dfeaed;
	padding: 2rem 6rem;
}
.container {
	max-width: 50rem;
}
.container--top {
	background: /styles/assets/header_bg.jpg;
	text-align: center;
}
.container--top__title {
	font-size: 2rem;
	font-style: bold;
	text-align: left;
	color: white;
}
.container--top__byline {
	font-size: 1.5rem;
	color: white;
}
.button {
	padding: .5rem 2rem;
	font-style: bold;
}
.button--top {
	background-color: yellow;
	color: #191970;
}
.container--middle {
	background-color: #dfeaed;
	color: #8d989c;
	max-width: 25rem;
}
.container-middle__title {
	color: #191970;
}
.container--middle__testimonial {
	background: styles/assets/testimonial_bg.jpg;
	text-align: center;
	font-style: italic;
}
.container--middle__testimonial__attribution {
	font-style: bold;
}

.container--bottom {
	text-align: center;
}
.button__bottom {
	background-color: #191970;
	color: white;
}
.container--bottom__title {
	font-size: 1.5rem;
	color: yellow;
	padding: 2rem;
}
.navigation__link {
	color: white;
}
.container--bottom__copyright {
	font-size: .5rem;
	color: white;
}